// Alleen voor adminbar fixes
$mobileMargin: 46px;
$desktopMargin: 32px;
$mobileHeaderHeight: 76px;

body.admin-bar {
  padding-top: $desktopMargin;

  header#navigation {
    top: $desktopMargin;

    #main-menu {}

    &.fixed {}
  }

  @include media-breakpoint-down(sm) {
    padding-top: $mobileMargin;

    header#navigation {
      top: $mobileMargin;

      &.fixed {
        #main-menu {
          top: $mobileHeaderHeight;
          padding-top: 0;
        }
      }

      #main-menu {
        padding-top: $mobileMargin;
      }
    }
  }


  #wpadminbar {
    position: fixed;
    top: 0;
  }
}
