$registered-menus: (
  main-menu: (
    selector: '#main-menu',
    themes: (
      aside-left: (
        min: 0,
        max: map-get($grid-breakpoints, md),
        autohide: map-get($grid-breakpoints, md)
      ),
      plain-horizontal: (
        min: map-get($grid-breakpoints, md)
      )
    )
  )
);

@import 'node_modules/advanced-menus/scss/menu';
@include generate-menus();

@import 'menus/aside-left';
@import 'menus/plain-horizontal';
