@import url("https://fonts.googleapis.com/css?family=Karla");
@import url("https://fonts.googleapis.com/css?family=Roboto");

$themename: "webpack-core";

$enable-shadows: false;

$font1: "Karla", sans-serif;
$font2: "Roboto", sans-serif;
$font3: $font1;
$font4: $font1;

$primary: #22365d;
$secondary: #618096;
$tertiary: #2b4e66;
$quaternary: #002b47;
$quinary: #6caeda;
$senary: #daeaf5;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "quaternary": $quaternary,
    "quinary": $quinary,
    "senary": $senary
  ),
  $theme-colors
);

// Body
$body-bg: #fff;
$body-color: #28292f;

// Body
$body-bg: #fff;
$body-color: $quaternary;

// Typography
$font-family-sans-serif: $font2;
$line-height-base: 2;
$base-line-height: $line-height-base;
$text-color: #4a4a4a;
$base-font-weight: 400;

// Links
$link-color: $body-color;
$link-decoration: underline;
$link-hover-color: darken($link-color, 10%) !default;
$link-hover-decoration: underline !default;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: #fff;
$btn-font-size: 1rem;
$btn-font-weight: 900;
$btn-border-width: 1px;

$btn-padding-x: 0.66rem;
$btn-padding-y: 0.5rem;
$btn-padding-x-sm: $btn-padding-x;
$btn-padding-y-sm: $btn-padding-y;
$btn-padding-x-lg: $btn-padding-x;
$btn-padding-y-lg: $btn-padding-y;

$btn-border-radius: 0;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($primary, 25%);
$input-color-placeholder: $text-color;
// $input-btn-border-width: 1px;

$tablet-width: 900px;
$max-page-width: "";

$grid-gutter-width: 30px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 920px,
  xl: 1280px
);

$font-size-base: 1rem; // Assumes the browser default, typically `16px` 0.1 == 2px
// $base-font-size: $font-size-base;
$font-size-lg: $font-size-base;
$font-size-sm: $font-size-base;
$font-size-xs: $font-size-base;
$paragraph-margin-bottom: 1.5em;

// Headings
$color-h1: inherit;
$color-h2: inherit;
$color-h3: inherit;
$color-h4: inherit;
$color-h5: inherit;
$color-h6: inherit;

$font-size-h1: 3.5em;
$font-size-h2: 2.5em;
$font-size-h3: 2em;
$font-size-h4: 1.66em;
$font-size-h5: 1.33em;
$font-size-h6: 1.2em;

$font-family-h1: $font1;
$font-family-h2: $font1;
$font-family-h3: $font1;
$font-family-h4: $font1;
$font-family-h5: $font1;
$font-family-h6: $font1;

$font-weight-h1: 700;
$font-weight-h2: 700;
$font-weight-h3: 700;
$font-weight-h4: 400;
$font-weight-h5: 400;
$font-weight-h6: 400;

$container-fluid-max-width: map-get($container-max-widths, xl);
$container-x-spacing: 25px;
$container-y-spacing: 100px;

$imgbase: "/wp-content/themes/#{$themename}/assets/images/";
$var: 100;
