/*
//  WP whitelabel Login screen
*/


body {
  background: url("../images/login-bg.jpg");
  background-size: cover;
}

#login {
  float: left;
  background: #fff;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.login form {
  box-shadow: none;
}

.login h1 a {
  background-image: url("../images/logo.svg");
  background-size: contain;
  width: 220px;
}