/*
//  WP wysiwyg editor styling
*/


// @import '~bootstrap/scss/variables';
@import "variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap-grid";

@import "mixins/default-content-styles";

@import "setup";
@import "buttons";

body,
body.wp-autoresize {
  min-height: auto;
  padding: 50px 25px !important;
  font-family: $font1;
  font-size: $font-size-base;
  @include default-content-styles();
}
