footer#main {
  background: #f5f5f5;
  border-top: 1px solid #eee;

  .footer-content {
    // margin-bottom: 25px;
  }

  .footer-title {
    color: $body-color;
    font-size: 1.1em;
    font-weight: 700;
  }
}
