$navigation-primary: #fff;
$navigation-primary-color: #333;

$navigation-secondary: #fff;
$navigation-secondary-color: #000;

header#navigation {
  display: block;
  position: absolute;
  padding: 5px 20px 5px 20px;
  z-index: 4001;
  top: 0;
  left: 0;
  right: 0;

  li a,
  a {
    color: $primary;
    font-weight: 900 !important;
    text-decoration: none;
  }

  // fixed header after scrolling
  &.fixed {
    top: 0;
    position: fixed;
    transform: translateY(0%);
    opacity: 1 !important;
    visibility: visible !important;
    background: $quaternary;

    a,
    .toggle-mainmenu-button {
      color: #fff;
    }


  }

  #logo {
    padding: 12px;
    font-weight: 700;
    font-size: 1.3em;
  }

  @include media-breakpoint-down(sm) {
    #logo {
      padding: 12px 0;
    }
  }

  @include media-breakpoint-down(sm) {
  }
}
