@mixin fa-icon($icon, $format) {
  @if $format == 'before' {
    &::before {
      @extend %fa;
      @extend %fa-#{$icon};
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
    }
  }
  @if $format == 'after' {
    &::after {
      @extend %fa;
      @extend %fa-#{$icon};
      content: '#{$icon}';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
    }
  }
}
