@mixin section-container {
  position: relative;
  margin: 0 auto;
  padding: $container-y-spacing $container-x-spacing;
  width: 100%;
  max-width: $container-fluid-max-width + ($container-x-spacing * 2);

  &.remove-top-padding {
    padding-top: 0;
  }

  &.remove-bottom-padding {
    padding-bottom: 0;
  }

  &.remove-left-padding {
    padding-left: 0;
  }

  &.remove-right-padding {
    padding-right: 0;
  }

  &.remove-padding {
    padding: 0;
  }

  &.narrow {
    max-width: $container-fluid-max-width + ($container-x-spacing * 2) - 200;
  }

  &.wide {
    max-width: $container-fluid-max-width + ($container-x-spacing * 2) + 200;
  }

  &.wider {
    max-width: $container-fluid-max-width + ($container-x-spacing * 2) + 500;
  }

  &.stretch {
    max-width: 100%;
  }

  @include media-breakpoint-down(sm) {
    padding: ($container-y-spacing / 2) ($container-x-spacing);
  }
}
