.widget.widget-header,
.widget.widget-header-secondary {
  .inner {
    @include section-container();
  }
}
.widget.widget-header {
  background: $quinary;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 50px;

  p {
    opacity: 0.9;
  }

  .content-2 {
    max-width: 400px;
    font-size: 0.85em;
  }

  @include media-breakpoint-down(sm) {
    .content-2 {
      margin-top: 35px;
    }
  }

  @include media-breakpoint-up(md) {
    .inner {
      display: flex;
      justify-content: space-between;
      align-items: top;
    }
    .content-2 {
      text-align: right;
    }
  }
}

.widget.widget-header-secondary {
  background: $senary;
  margin-top: 0;
  .inner {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }
}
