$menu-primary-bg: $primary;

@include menu-breakpoint("main-menu", "plain-horizontal") {
  nav#main-menu {
    .menu {
      align-items: center;
    }
    li {

      // Active states etc
      &.current_page_item a,
      &:hover a,
      &:active a{
        color: $secondary;
        text-decoration: none;
      }

      .handle {
        margin-left: -15px;
      }

      &.btn {
        height: 40px;
        padding: 0;
        font-size: 1em;

        a {
          padding: 0.75em 1em;
        }
      }

      a {
        padding: 0.6em 1em;
        color: $body-color;
      }

      &:hover {
        > a {
          color: $menu-primary-bg;
          text-decoration: none;
        }

        > .handle::after {
          border-color: $menu-primary-bg;
        }
      }
    }

    //sub menu
    li ul {
      background: #fff;
      min-width: 200px;
      border-color: #e5e5e5;

      li {
        a {
          border-top: 1px solid #e5e5e5;
          width: 100%;
        }

        &:hover {
          > a {
            background: $menu-primary-bg;
            color: #fff;
            border-color: $menu-primary-bg;
          }

          > .handle::after {
            border-color: #fff;
          }
        }
      }
    }
  }
}
