html .formcraft-css .fc-form .form-element .submit-cover .submit-button,
.simple_button {
  border-radius: $btn-border-radius !important;
  font-size: $btn-font-size !important;
  padding: $btn-padding-y * 1.4 $btn-padding-x * 1.3 $btn-padding-y * 1.3 $btn-padding-x * 1.3 !important;
  line-height: 1;

  font-size: 1rem !important;

  background: $primary !important;
  color: #fff;
}

.powered-by {
  display: none !important;
}
