.archive-card-default {
  @include make-col-ready();
  @include make-col(12);

  border: 0;
  border-radius: 0;
  font-size: 1em;

  .card-inner {
    padding: $container-y-spacing / 2 0;
    display: flex;
    border-top: 2px solid #eee;
    align-items: top;
    flex-direction: row;
  }

  .read-more {
    float: right;
  }

  .card-block {
    padding: 0;
  }

  .card-title {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.6em;
  }

  .card-meta {
    font-size: .85em;
    color: lighten($body-color, 30%);
    margin-top: -20px;
    text-align: right;
  }

  .card-img-left {
    width: 30%;
    min-width: 120px;
    max-width: 200px;
    min-height: 120px;
    flex: 0 0 auto;
    padding-right: $container-y-spacing / 2;

    img {
      width: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    @include make-col(12);

    font-size: .825em;
    p {font-size: 1.1em}

    .card-inner {
      display: block;
    }

    .card-meta {
      margin-top: -2px;
      margin-bottom: 5px;
      text-align: left;
      font-size: 1em;
    }

    .card-img-left {
      float: left;
      margin: 0 20px 10px 0;
      padding: 0;
    }
  }
}
