.post-pagination {
  text-align: center;
  position: relative;

  .page-numbers {
    &.next {
      position: absolute;
      right: 0;
      width: 100px;
      text-align: end;
    }

    &.prev {
      position: absolute;
      left: 0;
      width: 100px;
      text-align: start;
    }

    // &.current {
    //
    // }
    //
    // &.dots {
    //
    // }
  }
}
