@slideHeight: 400px;
@filter_opacity: 20;
@filter_color: #000;

.widget.widget-slider {
  article {
    height: @slideHeight;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .content {
      position: relative;
      z-index: 2;
    }

    .filter {
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: @filter_opacity/100;
      background-color: @filter_color;
    }
  }
}
